@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-vsiible {
  outline: none;
}

@layer utilities {
  /* Yashil fonli skrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Skrollbar eni */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a2e; /* Orqa fon rangi */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555555; /* Skrollbar rangi */
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    opacity: 0.3; /* Hover effekti */
  }
}
